<!DOCTYPE html>
<html>

<head>
    <title>Data Vault</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/script.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

</head>
<header>
    <%- include('../partials/instn-Homeheader'); %>
</header>

<body>

    <section>
        <div class="container mt-5">
            <div class="row">
                <div class="jumbotron">
                    <h3 class="display-5">ASKING FOR ADMINISTRATORS PERMISSION</h3>
                    <br>
                    <% if(track==0) {%>
                        <p class="lead"><b><%= data.name %></b><br>
                            <% if (data.privileges.length==0) { %>

                                <% } else { %>
                                    <% for(var i=0; i < data.privileges.length; i ++){%>
                                        <%= data.privileges[i] %>
                                            <% }%>
                                                <% } %>
                        </p>
                        <hr class="my-4">
                        <div id="frm">
                            <button class="btn btn-info btn-lg" role="button" onclick="showAddForm()">Add</button>
                        </div>
                        <% } %>

                            <% if(track==1) {%>
                                <p class="lead"><b><%= data.name %></b><br>
                                    <% if (data.privileges.length==0) { %>

                                        <% } else { %>
                                            <% for(var i=0; i < data.privileges.length; i ++){%>
                                                <%= data.privileges[i] %>
                                                    <% }%>
                                                        <% } %>
                                </p>
                                <hr class="my-4">
                                <div id="frm">
                                    <button class="btn btn-warning btn-lg">Pending</button>
                                </div>
                                <% } %>


                </div>


            </div>
        </div>

    </section>

</body>

</html>

<script>
    function valForm() {
        console.log("Validating Form");
        return true;
    };

    function showAddForm() {
        $("#frm").html("<p class='lead'>\
                            <form name='addDataform' method='POST' action='/instn/requestPrivilege' onsubmit='return valForm()'>\
                                <input type='text' name='desc' placeholder='Please input a short and precise description'>\
                                <button class='btn btn-info btn-lg' role='button'>Confirm</button>\
                            </form>\
                        </p>");
    };
</script>