<!DOCTYPE html>
<html>

<head>
    <title>Data Vault</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/script.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

</head>
<header>
    <%- include('../partials/user-Homeheader'); %>
</header>

<body>
    <div id="data">
        <section>
            <% for(var i=0; i < data.length; i++){ %>
                <% if (data[i].Record.applications.length > 0) { %>
                    <% for(var j=0; j < data[i].Record.applications.length; j++){ %>
                        <% if (data[i].Record.applications[j].status==0) { %>
                            <div class="container mt-5">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="card border-dark">
                                            <div class="card-body">
                                                <h5 class="card-header">
                                                    <%= data[i].Record.name %>
                                                </h5>
                                                </p>
                                                <p class="card-text">
                                                    <b><%= data[i].Record.owner %></b>
                                                </p>
                                                <a class="btn btn-success" onclick="approve(
                                                    '<%= data[i].Key %>', 
                                                    '<%= data[i].Record.name %>', 
                                                    '<%= data[i].Record.address %>', 
                                                    '<%= data[i].Record.district %>', 
                                                    '<%= data[i].Record.state %>', 
                                                    '<%= data[i].Record.phone %>',
                                                    '<%= data[i].Record.email %>',
                                                    '<%= data[i].Record.city %>',
                                                    '<%= data[i].Record.status %>',
                                                    '<%= data[i].Record.applications[j]._id %>',
                                                    '<%= data[i].Record.applications[j].inst %>',
                                                    '<%= data[i].Record.applications[j].status %>'
                                                )">More</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <% } %>
                    <% } %>
                <% } %>
            <% } %>
        <section>
    </div>
</body>

</html>

<script>
    function valForm() {
        console.log("Validating Form");
        return true;
    };

    function approve(key, name, address, district, state, phone, email, city, status, ap_id, ap_inst, ap_status) {
        console.log(key, name, address, district, state, phone, email, city, status, ap_id, ap_inst, ap_status);
        if (status == 0) {
            $('#data').html('\
            <table>\
                <tr>\
                    <th>Name</th>\
                    <td>' + name + '</td>\
                </tr>\
                <tr>\
                    <th>Address</th>\
                    <td>' + address + ', ' + district + ', ' + state + '</td>\
                </tr>\
                <tr>\
                    <th>Phone</th>\
                    <td>' + phone + '</td>\
                </tr>\
                <tr>\
                    <th>Email</th>\
                    <td>' + email + '</td>\
                </tr>\
                <tr>\
                    <th>Owner</th>\
                    <td>' + city + '</td>\
                </tr>\
                <tr>\
                    <th>Application</th>\
                    <td>' + ap_inst + '</td>\
                </tr>\
            </table>\
            <div id="arbtn">\
                <a class="btn btn-success" onclick="aprvrejuser(\'' + key + '\', \'' + ap_id + '\', 1)">Approve User</a>\
                <a class="btn btn-danger" onclick="aprvrejuser(\'' + key + '\', \'' + ap_id + '\', -1)">Reject User</a>\
            </div>\
            ');
        } else {
            $('#data').html('\
            <table>\
                <tr>\
                    <th>Name</th>\
                    <td>' + name + '</td>\
                </tr>\
                <tr>\
                    <th>Address</th>\
                    <td>' + address + ', ' + district + ', ' + state + '</td>\
                </tr>\
                <tr>\
                    <th>Phone</th>\
                    <td>' + phone + '</td>\
                </tr>\
                <tr>\
                    <th>Email</th>\
                    <td>' + email + '</td>\
                </tr>\
                <tr>\
                    <th>Owner</th>\
                    <td>' + city + '</td>\
                </tr>\
                <tr>\
                    <th>Application</th>\
                    <td>' + ap_inst + '</td>\
                </tr>\
            </table>\
            <a class="btn btn-success" onclick="aprvrej(\'' + key + '\', \'' + ap_id + '\', 1)">Accept</a>\
            <a class="btn btn-danger" onclick="aprvrej(\'' + key + '\', \'' + ap_id + '\', -1)">Reject</a>\
            ');
        }
    };

    function aprvrej(key, ap_id, status) {
        console.log(key, ap_id);
        $.ajax({
            url: '/instn/viewApplication',
            type: 'POST',
            data: {
                key: key,
                ap_id: ap_id,
                status: status
            },
            success: function(response, statusText, xhr) {
                if (xhr.status == 200) {
                    console.log(response, statusText, xhr)
                        //success case
                } else {
                    console.log('failed');
                    //error case
                }
            },
            error: function(error) {
                console.log(error);
            }
        });
    };

    function aprvrejuser(key, ap_id, status) {
        console.log(key, ap_id, status);
        $.ajax({
            url: '/instn/verifyuser',
            type: 'POST',
            data: {
                key: key,
                status: status
            },
            success: function(response, statusText, xhr) {
                if (xhr.status == 200) {
                    console.log(response, statusText, xhr);
                    if (status == 1) {
                        $('#arbtn').html('\
                        <a class="btn btn-success" onclick="aprvrej(\'' + key + '\', \'' + ap_id + '\', 1)">Accept</a>\
                        <a class="btn btn-danger" onclick="aprvrej(\'' + key + '\', \'' + ap_id + '\', -1)">Reject</a>\
                    ');
                    } else {
                        //rejected
                    }
                } else {
                    console.log('failed');
                    //error case
                }
            },
            error: function(error) {
                console.log(error);
            }
        });
    }
</script>